.container_wrapper {
    width: 100%;
    background-color: #f9c593;
}

.container {
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    color: #be0808;
    text-align: center;
    padding-block: 5rem;
}

.heading h1 {
    font-size: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    width: 100%;
    max-width: var(--max-width);
    margin-top: 3rem;
}

.grid .grid_item {
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    border: 1px solid #980020;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

    min-height: 250px;
    position: relative;
    overflow: hidden;
}

.grid_item .info {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.1s ease-in;
    text-align: center;
    position: absolute;
    padding: 0.5rem;
}

.grid_item:hover .info {
    opacity: 1;
    visibility: visible;
}

.grid_item .logo,
.grid_item h3 {
    transition: opacity 0.1s ease-in;
}

.grid_item:hover .logo,
.grid_item:hover h3 {
    opacity: 0;
}

.grid .grid_item:hover,
.grid .grid_item:focus {
    transform: scale(1.02);
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.4); */
}

.grid .grid_item .logo img {
    width: 100%;
    border-radius: 0.4rem;
    aspect-ratio: 3/1.9;
    object-fit: cover;
}

.grid .grid_item h3 {
    font-size: 1.2rem;
    margin-top: -0.8rem;
    color: #980020;
}

@media screen and (max-width: 1250px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1000px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 768px) {
    .container {
        padding-top: 7.5rem;
    }
}
@media screen and (max-width: 550px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid .grid_item h3 {
        font-size: 1.1rem;
    }

    .heading h1 {
        font-size: 1.5rem;
    }
}
