:root {
    --max-width: 1320px;
    --light-gray-color: #eee;
    --white: white;
    --black: black;
    /* --background-color: #0f162a; */
    --background-color: #f9c593;
    --text-color: black;
    --second-font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    /* --transparent: #2f3349;
  --card-primary-color: #253db6;
  --border-primary-color: var(--primary-color);
  --card-icon-color: white;
  --border-color: #e9e6e6db;
  --card-box-shadow: 3px 3px 15px #d5d5d5, -7px -7px 15px #f4f4f4;
  --border-box: #ebeff5;
  --input-background: #edededde;
  --input-text-color: #6e6b7b; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

* {
    font-family: "Nunito", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
