/* Base styles remain the same */

.container_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 89.59px;
    padding-inline: 1rem;
    padding-block: 4rem;
}

.container_title {
    font-size: 4.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    text-align: center;
    /* font-family: var(--second-font-family); */
}

.container_title span {
    color: var(--brand-color);
    /* font-family: var(--second-font-family); */
}

.container_sub_title {
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 2rem;
    text-align: center;
    max-width: 1000px;
    color: var(--brand-color);
}

.tab {
    background-color: #f1e1d51a;
    border: 1px solid var(--brand-color);
    border-radius: 6px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: fit-content;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.tab p {
    border-radius: 6px;
    cursor: pointer;
    margin: 0.18rem;
    padding-block: 0.4rem;
    padding-inline: 1rem;
    color: var(--brand-color);
}

.tab .active {
    color: white;
    background-color: var(--brand-color);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 100%;
    max-width: var(--max-width);
    margin-top: 2rem;
}

.grid .grid_item {
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    /* border: 0.1px solid var(--brand-color); */
    border: 1px solid rgb(66, 66, 66);
    background-color: hsl(0, 0%, 12%);
}

.grid .grid_item .details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.details p {
    font-size: 1rem;
    font-weight: 400;
    display: flex;
}

.details p a {
    color: var(--brand-color);
    margin-left: 0.5rem;
}

.grid .grid_item .details p span {
    font-weight: 700;
    width: fit-content;
    display: flex;
    min-width: 8rem;
}

.grid .grid_item button {
    background: hsl(0, 0%, 14%);
    border: 0.2px solid var(--brand-color);
    color: white;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.25rem;
    width: fit-content;
    margin-left: auto;
    cursor: pointer;
    margin-top: auto;
}
.startup_grid {
    grid-template-columns: repeat(5, 1fr);
    margin-top: 0;
}
.startup_grid .grid_item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: none !important;
}

.startup_grid .grid_item img {
    width: 100%;
    height: 100px;
    object-fit: contain;
}
.section_name {
    font-size: 1.1rem;
    padding-block: 0.2rem;
    padding-top: 2.5rem;
    color: #980020;
    text-transform: uppercase;
    border-bottom: 2px solid var(--brand-color);
    width: fit-content;
    margin-bottom: 1.5rem;
}
@media screen and (max-width: 1000px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .startup_grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Media queries for mobile responsiveness */

@media (max-width: 768px) {
    .container_title {
        font-size: 3rem;
    }

    .container_wrapper {
        padding-top: 3rem;
    }

    .container_sub_title {
        font-size: 1.25rem;
    }

    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .startup_grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .containerWrapper {
        margin-top: 30px;
    }

    .container_title {
        font-size: 2.5rem;
    }

    .container_sub_title {
        font-size: 1rem;
    }
    .startup_grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 475px) {
    .tab p {
        font-size: 0.85rem;
    }
}

.playBtn {
    width: 94px;
    height: 94px;
    background: radial-gradient(var(--brand-color) 50%, color-mix(in srgb, var(--brand-color), transparent 75%) 52%);
    border-radius: 50%;
    display: block;
    position: relative;
    overflow: hidden;
    border: none;
    cursor: pointer;
    margin-top: 0;
    transition: background 0.4s ease-in-out;
    margin-bottom: 0.5rem;
}

.playBtn:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.playBtn::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    background: radial-gradient(circle, var(--brand-color) 50%, transparent 10%);
    border-radius: 50%;
    z-index: 0;
    opacity: 0;
    transition: none;
    animation: radialWave 1s infinite ease-out;
}

@keyframes radialWave {
    0% {
        width: 94px;
        height: 94px;
        opacity: 0.5;
    }
    100% {
        width: 140px;
        height: 140px;
        opacity: 0;
    }
}
.playBtn:hover::before {
    animation: radialWave 1s infinite ease-out;
}
